<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Notes</title>
</head>
<body>

    <ul>
        <% for(let i=0; i<notes.length; i++) {  %>
         <li> <%= notes[i].note %> </li>
        <% }  %>
    </ul>
    
</body>
</html>