<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Booking.com</title>
    <style>
      a {
        text-decoration: none;
        color: inherit;
      }

      button {
        width: 100px;
        height: 50px;
      }

      input {
        height: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Booking.com</h1>

    <button><a href="/read">See resavations</a></button>
    <button><a href="/write">Book</a></button>

    <script src="script.js"></script>
  </body>
</html>
