body {
  position: relative;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto; }
  body .convert {
    margin: 0 auto; }
  body .getLatestCurrExchangeRate {
    margin: 0 auto; }
  body .getHistoricalRates {
    margin: 0 auto; }
  body .output {
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 40%;
    opacity: 0.8; }
